<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mq.infra.customer.mapper.CustomerMapper">

	<resultMap id="BaseResultMap" type="com.example.mq.infra.customer.model.CustomerDO">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
		<result column="customer_name" property="customerName" jdbcType="VARCHAR" />
		<result column="customer_desc" property="customerDesc" jdbcType="VARCHAR" />
		<result column="customer_type" property="customerType" jdbcType="VARCHAR" />
		<result column="customer_age" property="customerAge" jdbcType="INTEGER" />
		<result column="top_ten_sellers" property="topTenSellers"  jdbcType="VARCHAR"/>
		<result column="total_cost_amount" property="totalCostAmount" jdbcType="INTEGER" />
		<result column="min_active_time" property="minActiveTime" jdbcType="TIMESTAMP" />
		<result column="max_active_time" property="maxActiveTime" jdbcType="TIMESTAMP" />
		<result column="extend_info" property="extendInfo" jdbcType="VARCHAR" />

		<result column="create_by" property="createBy" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_by" property="updateBy" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
	</resultMap>

	<sql id="Base_Column_List">
		id, customer_no, customer_name, customer_desc, customer_type, customer_age
		, top_ten_sellers, total_cost_amount, min_active_time, max_active_time, extend_info
		, create_by, create_time, update_by, update_time, is_deleted
	</sql>

	<select id="batchQueryIdForCheck" resultType="java.lang.Long">
		SELECT id
		FROM platform_customer
		WHERE 1 = 1
		<if test="customerTypeList !=null and customerTypeList.size() >0">
			AND customer_type in
			<foreach collection="customerTypeList" item="item" separator="," open="(" close=")">
				#{item}
			</foreach>
		</if>
		AND create_time >= #{startCreateTime}
		AND create_time &lt; #{endCreateTime}
		AND id &gt; #{lastMaxId}
		ORDER BY id
		LIMIT #{limitNum}
	</select>

</mapper>