<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mq.service.dao.PlatformCustomerMapper">

	<resultMap id="BaseResultMap" type="com.example.mq.service.bean.Customer">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="customer_id" jdbcType="BIGINT" property="customerId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="description" jdbcType="VARCHAR" property="registerTime" />
		<result column="vip_level" jdbcType="INTEGER" property="totalCostAmount" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>


	<sql id="baseColumnList">
		id, customer_id, name, city, address, description, vip_level, del_flag
	</sql>

	<insert id="insert" parameterType="com.example.mq.service.bean.Customer">
		insert ignore into platform_customer (
			customer_id, name, city, address, description, vip_level, del_flag,
			create_user, update_user, create_time, update_time
		)
		values (
			#{customerId,jdbcType=VARCHAR},
			#{name,jdbcType=VARCHAR},
			#{city,jdbcType=VARCHAR},
			#{address,jdbcType=VARCHAR},
			#{description,jdbcType=VARCHAR},
			#{vipLevel,jdbcType=INTEGER},
			#{delFlag,jdbcType=BIT},
			#{createUser,jdbcType=VARCHAR},
			#{updateUser,jdbcType=VARCHAR},
			#{createTime,jdbcType=TIMESTAMP},
			#{updateTime,jdbcType=TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.example.mq.service.bean.Customer">
		update platform_customer
		set customer_id = #{customerId,jdbcType=VARCHAR},
      		name = #{name,jdbcType=VARCHAR},
     		city = #{city,jdbcType=VARCHAR},
     		address = #{address,jdbcType=VARCHAR},
     		description = #{description,jdbcType=VARCHAR},
     		vip_level = #{vipLevel,jdbcType=INTEGER},
     		del_flag = #{delFlag,jdbcType=BIT},
			create_user = #{createUser,jdbcType=VARCHAR},
			update_user = #{updateUser,jdbcType=VARCHAR},
			create_time = #{createTime,jdbcType=TIMESTAMP},
			update_time = #{updateTime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectByCustomerId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select <include refid="baseColumnList" />,
		create_user, update_user, create_time, update_time
		from platform_customer
		where customer_id = #{customerId,jdbcType=VARCHAR} and del_flag !=1
	</select>

	<select id="selectAll" resultMap="BaseResultMap">
		select <include refid="baseColumnList" />,
		create_user, update_user, create_time, update_time
		from platform_customer
		where del_flag !=1
	</select>

	<delete id="deleteByCustomerId" parameterType="java.lang.Long">
		update platform_customer
		set del_flag = 1
		where customer_id = #{customerId,jdbcType=VARCHAR}
	</delete>


</mapper>